.git
.mtj.tmp/
target/
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.iml

# Intellig idea
# Default ignored files
/.idea/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/.idea/httpRequests/
# Datasource local storage ignored files
/.idea/dataSources/
/.idea/dataSources.local.xml
# other
/.idea/dictionaries/
/.idea/inspectionProfiles/
/.idea/uiDesigner.xml
/.idea/jarRepositories.xml
