<!--
  ~ Copyright 2021 Shaburov Oleg
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<Configuration>
    <properties>
        <property name="base.log.pattern">%d{HH:mm:ss.SSS} %-5level - %m%n</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n" charset="UTF-8"/>
        </Console>
        <File name="Framework" fileName="target/logs/Framework.log" append="false">
            <PatternLayout pattern="${base.log.pattern}" charset="UTF-8"/>
        </File>
        <Routing name="Routing">
            <Routes pattern="$${ctx:log.file.name}">
                <Route>
                    <File name="Routing" fileName="target/logs/${ctx:log.file.name}" append="false">
                        <PatternLayout pattern="${base.log.pattern}" charset="UTF-8"/>
                    </File>
                </Route>
                <!-- The default route, if ${log.file.name} is not present in the ThreadContext. -->
                <Route key="${ctx:log.file.name}">
                    <File name="Default routing" fileName="target/logs/default-routing.log" append="false">
                        <PatternLayout pattern="${base.log.pattern}" charset="UTF-8"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Framework" level="ALL"/>
        </Root>
        <Logger name= "Console" level="ALL" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="Routing" level="ALL" additivity="false">
            <AppenderRef ref="Routing"/>
        </Logger>
        <Logger name="Framework" level="DEBUG" additivity="false">
            <AppenderRef ref="Framework"/>
        </Logger>
        <Logger name="veslo" level="ALL" additivity="false">
            <AppenderRef ref="Routing" level="ALL"/>
        </Logger>
    </Loggers>
</Configuration>